<tr class="task_row" style="border-bottom: 1px solid #ccc;">
  <td width="20px">
    <div class="square" style="background: <%= task.priority %>;"></div>
  </td>
  <td width="450px" class="task_name" style="color:<%= 'red' if Date.today > task.deadline && task.status == false %>">
    <%= task.name %>
  </td>
  <td width="100px" class="task_name">
    <%= task.project.name %>
  </td>
  <td width="20px">
    <div class="circle" style="background:<%= task.project.color%>;"></div>
  </td>
  <td width="10px" id="ellipsis" class="hide">
    <i class="fa fa-ellipsis-v" aria-hidden="true">
      <ul class="menu hide">
        <li><%= link_to 'Edit', edit_task_path(task), remote: true %></li>
        <li><%= link_to 'Delete', task_path(task), method: :delete, class: "delete_task" %></li>
        <li><%= link_to 'Done', complete_task_path(task), method: :patch, remote: true, class: "complete_task" %></li>
      </ul>
    </i>
  </td>
</tr>
