<div id="project_form">
  <%= form_for(@project) do |f| %>
      <% if @project.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

            <ul>
              <% @project.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field" style="width: 220px; background-color: white; border: 1px solid black;">

        <%= f.color_field :color, :value => '#ff0000' %>
        <%= f.text_field :name, size: '15', style: 'border: none' %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit 'Add', class: 'btn btn-primary', style: 'width:100px;' %>
        <%= link_to 'Cancel' %>
      </div>
  <% end %>
</div>