<tr class="project_row">
  <td width="20px">
    <div class="circle" style="background:<%= project.color%>;"></div>
  </td>
  <td width="170px" class="project_name"><%= link_to project.name, search_path(project), remote: true %>
    <span class="low_grey project_count_<%= project.id %>"><%= project.tasks.where(status: false).count %></span></td>
  <td width="10px" id="ellipsis" class="hide">
    <i class="fa fa-ellipsis-v" aria-hidden="true">
      <ul class="menu hide">
        <li><%= link_to 'Edit', edit_project_path(project), remote: true %></li>
        <li><%= link_to 'Delete', project_path(project), method: :delete, class: "delete_task" %></li>
      </ul>
    </i>
  </td>
</tr>