<div class="left">
  <p id="notice"><%= notice %></p>

  <div style="margin-left:30%;">
    <h6><b><%= link_to 'Today', today_path, remote: true %></b>
      <span class="low_grey"><%= current_user.tasks.where(deadline: Date.today).count %></span>
    </h6>
    <h6><b><%= link_to 'Next 7 days', next_seven_days_path, remote: true %></b></h6>
    <br>
    <h6 style="text-decoration: underline;"><b>Projects</b></h6>
    <table>
      <tbody>
      <% @projects.each do |project| %>
        <%= render project %>
      <% end %>
      </tbody>
    </table>

    <%= render 'form' %>

    <%= link_to  '', id: 'add_project_form' do %>
        <span style="color:red">+ Add</span>
    <% end %>
  </div>

</div>


<div class="center">
  <div style="margin-left: 20px; margin-right: 20px">
    <h4>Today <span class="low_grey"><%= DateTime.current.strftime("%a %d %b") %></span></h4>
    <div id='all_tasks'>
      <table>
        <tbody>
        <% @tasks.each do |task| %>
            <%= render task %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="right">
</div>