<div class="left">
  <p id="notice"><%= notice %></p>

  <div style="margin-left:30%;">
    <h6><b><%= link_to 'Today', today_path, remote: true %></b>
      <span class="low_grey"><%= current_user.tasks.where(deadline: Date.today).count %></span>
    </h6>
    <h6><b><%= link_to 'Next 7 days', next_seven_days_path, remote: true %></b></h6>
    <br>
    <h6 style="text-decoration: underline;"><b>Projects</b></h6>
    <table>
      <tbody>
          <%= render @projects %>
      </tbody>
    </table>
    <div id="project_form">

    </div>
    <%= link_to '+ Add', new_project_path(@project), remote: true, style: "color:red !important", id: "add_project_form" %>
  </div>

</div>


<div class="center">
  <div style="margin-left: 20px; margin-right: 20px">
    <h4>Today <span class="low_grey"><%= Date.today.strftime("%a %d %b") %></span></h4>
    <table style="width: 100%">
      <tbody id='all_tasks'>
      <%= render @tasks %>
      </tbody>
    </table>

    <div id="task_form" style="width: 100%">
    </div>

    <%= link_to '+ Add', new_task_path(@task), remote: true, style: "color:red !important", id: "add_task_form" %>

  </div>

</div>


<div class="right">
</div>
